<div class="row">
    <div class="col-lg-12">
        <div class="page-header">
            <h1><span>{{ pCtrl.title }}</span></h1>
        </div>
    </div>
</div>
<div class="row">
    <form class="col-lg-12" ng-submit="pCtrl.save()">
        <div>
            <div class="form-field form-group">
                <label for="first_name" class="col-sm-2 control-label">Nome</label>
                <div class="ng-admin-type-string col-sm-10 col-md-8 col-lg-7">
                    <input type="text" ng-model="pCtrl.name" id="first_name" name="first_name" class="form-control" ng-minlength="0" ng-maxlength="99999">
                </div>
            </div>
        </div>
        <div>
            <div class="form-field form-group">
                <label for="description" class="col-sm-2 control-label">Descrição</label>
                <div class="ng-admin-type-string col-sm-10 col-md-8 col-lg-7">
                    <textarea id="description" name="description" class="form-control" ng-model="pCtrl.description"></textarea>
                </div>
            </div>
        </div>
        <div>
            <div class="form-field form-group">
                <label for="category" class="col-sm-2 control-label">Category</label>
                <div class="ng-admin-type-string col-sm-10 col-md-8 col-lg-7">
                    <select name="category" id="category" ng-model="pCtrl.categoryId">
                        <option ng-repeat="category in pCtrl.categories" value="{{category.CATEGORY_ID}}">{{category.CATEGORY_DESCRIPTION}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div>
            <div class="form-field form-group">
                <label for="coverImage" class="col-sm-2 control-label">Adicionar capa</label>
                <input type="file" ngf-select="" class="ng-admin-type-string col-sm-10 col-md-8 col-lg-7" ng-model="pCtrl.coverImage" name="coverImage" ngf-accept="'image/*'" required="">
                <!--<img ngf-src="pCtrl.coverImage" class="thumb">-->
            </div>
        </div>
        <div>
            <div class="form-field form-group">
                <label for="coverImage" class="col-sm-2 control-label">Adicionar imagens</label>
                <input type="file" class="ng-admin-type-string col-sm-10 col-md-8 col-lg-7" ngf-select="" ng-model="pCtrl.imagens" ngf-multiple="multiple"/>
                <!--<img ngf-src="!pCtrl.imagens[0].$error && pCtrl.imagens[0]">-->
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </form>
</div>