<div class="main_login">
    <div class="login_form">
        <form name="userForm" ng-submit="lCtrl.login()" novalidate>
            <div ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                <input class="input_login" type="email" name="email" ng-model="lCtrl.email" placeholder="email" ng-maxlength="254" required>
            </div>
            <div ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
                <input class="input_login" type="password" name="password" ng-model="lCtrl.password" placeholder="senha" ng-minlength="6" ng-maxlength="50" required>
            </div>
            <input class="btn_login" type="submit" value="Entrar" ng-disabled=!userForm.$valid>
        </form>
    </div>
</div>