/* LOGINS */
.main_login form {
    margin: 0 auto;
    padding: 26px 24px 0px;
}

.login_form {
    background: #eee;
    width: 26%;
    margin: 4% auto 4% auto;
    position: relative;
    -webkit-border-radius: 0.4em;
    -o-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    min-width: 340px;
}

/* MENU AND SIDEBAR */

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#wrapper {
    width: 100%;
}

#wrapper .navbar-static-top {
    margin-bottom: 0;
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

.navbar-default .navbar-brand {
    color: #777;
}

.navbar-brand {
    float: left;
    padding: 15px;
    font-size: 18px;
    line-height: 20px;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.nav>li, .nav>li>a {
    display: block;
    position: relative;
}

.navbar-static-top {
    z-index: 1000;
    border-width: 0 0 1px;
}

.nav>li>a {
    padding: 10px 15px;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #eee;
}

#wrapper a:focus, 
#wrapper a:hover {
    color: #23527c;
    text-decoration: underline;
}

.navbar-right {
    float: right!important; 
}

/* ADMIN BODY */
.row {
    margin-left: -15px;
    margin-right: -15px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

#wrapper .navbar-static-top .navbar-right {
    margin-right: 15px
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

#page-wrapper .page-header {
    margin: 10px 0 15px;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}

.view-actions {
    margin: 25px 0 15px;
    float: right;
}

.navbar:after, .navbar:before {
    content: " ";
    display: table;
}

.btn-group-vertical>.btn-group:after, 
.btn-toolbar:after, 
.clearfix:after, 
.container-fluid:after, 
.container:after,
 .dropdown-menu>li>a, 
 .form-horizontal .form-group:after,
  .modal-footer:after, 
  .navbar-collapse:after,
   .navbar-header:after, 
   .navbar:after, 
   .pager:after, 
   .panel-body:after, 
   .row:after {
       clear: both;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.has-feedback .form-control {
    padding-right: 42.5px;
}

.has-error.form-control {
    border: 1px solid #da3131;
}

.form-horizontal textarea {
    height: 150px;
}

.form-control {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-horizontal textarea {
    height: 150px;
}

.form-control, output {
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    display: block;
}

.form-group {
    margin-bottom: 15px;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}

.has-error .checkbox,
 .has-error .checkbox-inline,
  .has-error .control-label,
   .has-error .form-control-feedback,
    .has-error .help-block,
     .has-error .radio, 
     .has-error .radio-inline,
      .has-error.checkbox label,
       .has-error.checkbox-inline label,
        .has-error.radio label,
         .has-error.radio-inline label {
    color: #a94442;
}

.has-error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

@media (min-width:1200px) {
    .col-lg-12 {
        float: left
    }
    .col-lg-12 {
        width: 100%
    }
}

@media (min-width: 992px) {
    .col-md-1,
    .col-md-10, 
    .col-md-11, 
    .col-md-12, 
    .col-md-2, 
    .col-md-3, 
    .col-md-4, 
    .col-md-5, 
    .col-md-6, 
    .col-md-7, 
    .col-md-8, 
    .col-md-9 {
        float: left;
    }
    
    .col-md-3 {
        width:33.33333333%;
    }

    .col-md-8 {
        width: 66.66667%;
    }
}

.imageWrap {
    float: left;
    width: 20%;
}

.repeat-item.ng-enter,
.repeat-item.ng-leave {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}

.repeat-item.ng-enter,
.repeat-item.ng-leave.ng-leave-active {
  opacity:0;

}
.repeat-item.ng-leave,
.repeat-item.ng-enter.ng-enter-active  {
  opacity:1;
}

.alertIn, .alertOut {
    -webkit-transition: -webkit-transform 0.22s cubic-bezier(0.25, 0, 0.25, 1), opacity 0.22s cubic-bezier(0.25, 0, 0.25, 1);
    -moz-transition: -moz-transform 0.22s cubic-bezier(0.25, 0, 0.25, 1), opacity 0.22s cubic-bezier(0.25, 0, 0.25, 1);
    -o-transition: -o-transform 0.22s cubic-bezier(0.25, 0, 0.25, 1), opacity 0.22s cubic-bezier(0.25, 0, 0.25, 1);
    transition: transform 0.22s cubic-bezier(0.25, 0, 0.25, 1), opacity 0.22s cubic-bezier(0.25, 0, 0.25, 1);
}
.alertIn.ng-hide-remove, .alertOut.ng-hide-add.ng-hide-add-active {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0px, 0px);
    transform: translate3d(100px, 0px, 0px);
    display: block !important;
}
.alertOut.ng-hide-add, .alertIn.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
    display: block !important;
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}

@media (min-width: 768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }

    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 51px;
    }
    .navbar-collapse.collapse {
        display: block!important;
        height: auto!important;
        padding-bottom: 0;
        overflow: visible!important;
    }
    .navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none;
    }

    .form-horizontal .control-label {
        text-align: right;
        margin-bottom: 0;
        padding-top: 7px;
    }

    .col-sm-2 {
        width: 16.66667%;
    }

    .col-sm-offset-2 {
        margin-left: 16.66667%;
    }

    .col-sm-10 {
        width: 83.33333%;
    }

    .col-sm-1, 
    .col-sm-10, 
    .col-sm-11, 
    .col-sm-12, 
    .col-sm-2, 
    .col-sm-3, 
    .col-sm-4,
    .col-sm-5, 
    .col-sm-6, 
    .col-sm-7, 
    .col-sm-8, 
    .col-sm-9 {
        float: left;
    }
}

a {
    color: #337ab7;
    text-decoration: none;
    background-color: transparent;
}

h1.adminHeader {
    font-size: 36px;
}

h1.adminHeader {
    margin-top:20px;
    margin-bottom: 10px;
}

h1.adminHeader {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

/* TABLE */
.table {
    width: 100%;
    margin-bottom: 20px;
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

caption, th {
    text-align: left;
}

/* FORMS */
label {
    display: inline-block;
    margin-bottom: 5px;
}

dt, kbd kbd, label {
    font-weight: 700;
}

.img-responsive, .img-thumbnail, .table, label {
     max-width: 100%; 
}

.btn_login:hover {
    background: #3b6797;
    color: #fff;
}

.input_login {
    padding: 3%;
    margin-bottom: 6%;
    background: #D3D3D3;
    color: #676767;
    font-weight: 600;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    height: 16px;
    line-height: 16px;
    width: 100%;
    box-sizing: border-box;
    height: 36px;
    border-radius: 5px;
}

.btn_login {
    width: 100%;
    padding: 3%;
    margin-bottom: 8%;
    background: #679ad2;
    font-family: 'Open Sans', sans-serif;
    color: #ECECEC;
    box-shadow: inset 0px 0px 5px #666464;
    -webkit-text-shadow: 0px 0px 3px #000;
    -moz-text-shadow: 0px 0px 3px #000;
    -o-text-shadow: 0px 0px 3px #000;
    -ms-text-shadow: 0px 0px 3px #000;
    font-size: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 500;
    border-radius: 5px;
    transition: 0.5s;
    -webkit-appearance: none;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
}*/